In [3]:
import pandas as pd
header=["number","target"]
data=[["1",'0'],
     ['2','1'],
     ['3','0'],
     ['4','1'],
     ['5','0'],
     ['6','1'],
     ['7','0']]
data=pd.DataFrame(data,columns=header)
data.to_csv('odd_even',index=False)
df=pd.read_csv('odd_even')

In [4]:
print(df)

   number  target
0       1       0
1       2       1
2       3       0
3       4       1
4       5       0
5       6       1
6       7       0

In [5]:
df.head(5)

   number  target
0       1       0
1       2       1
2       3       0
3       4       1
4       5       0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   number  7 non-null      int64
 1   target  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

In [8]:
df['target'].value_counts()

0    4
1    3
Name: target, dtype: int64

In [10]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [13]:
new_line='\n'
print(f"Feature values : {new_line}{x.head(5)}")
print(f"{new_line} Lables : {new_line}{y.head(5)}")

Feature values :
   number
0       1
1       2
2       3
3       4
4       5

 Lables :
0    0
1    1
2    0
3    1
4    0
Name: target, dtype: int64

In [14]:
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=151)

In [16]:
print("train size x: ",x_train.shape)
print("train size y: ",y_train.shape)
print("test size x: ",x_test.shape)
print("test size y: ",y_test.shape)

train size x:  (5, 1)
train size y:  (5,)
test size x:  (2, 1)
test size y:  (2,)

In [23]:
from sklearn.linear_model import LogisticRegression
modelLogistic=LogisticRegression()
modelLogistic.fit(x_train,y_train)
print("The intercept b0= ",modelLogistic.intercept_)
b0=modelLogistic.intercept_
print("The coefficient b1=",modelLogistic.coef_)
b1=modelLogistic.coef_

The intercept b0=  [-2.86623525]
The coefficient b1= [[0.61333784]]

In [19]:
y_pred=modelLogistic.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix
ConfusionMatrix=confusion_matrix(y_test,y_pred)
print(ConfusionMatrix)

[[0 1]
 [1 0]]

In [29]:
y=modelLogistic.predict([[3]])
print(y)

[0]